.main-movies {
  margin: 0rem 3rem;
}

.nav-movies {
  display: flex;
  justify-content: center;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  padding: 1rem 0;
}

.btn-nav-movies {
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding: 0.5rem 8rem;
  background: #2d282d;
  margin: 0 1rem;
}

.btn-nav-movies:hover {
  background: #433c43;
}

.to-see-icon {
  margin-right: 0.5rem;
}

/* Movie list */
.my-movie-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 2rem;
  row-gap: 4rem;
  margin: 2rem 0;
}
